body{
    background-color:#eef2f9;
    font-family: 'PT Sans', sans-serif;
}
header{
    background-color: #ffffff;
    height: 58px;
    box-shadow: 5px -5px 16px 5px #c8c8c8;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
/*
new style
*/

span.menu-text {
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.con {
    position: relative;
    left: 184px;
    width: calc(100% - 184px);
}
.containerDashboard{
    padding-top: 10px;
}
input::placeholder {
    color: #b8c9d3;
  }
.logo {
    background: #007bff;
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 58px;
    color: #fff;
    font-weight: bold;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time]{
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 2px;
}
.side {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    min-width: 184px;
    box-shadow: -3px 0px 14px #535353;
}
.side-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-menu i {
    font-size: 23px;
    display: inline-block;
}
.side-menu li a {
    color: #658190;
    display: block;
    padding: 15px;
    transition: all .20s ease-in-out;
   -moz-transition: all .20s ease-in-out;
   -webkit-transition: all .20s ease-in-out;
}
li .active {
    background: #fafbfc;
    color: #007bff!important;
}
li .active:hover {
    background: #fafbfc!important;
}
.side-menu li a:hover {
    color: #7a7a7a;
    text-decoration: none;
    background: #fafbfc;
}
.side-menu li,.side-menu li:hover:before{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.side-menu li:hover:before,li .active:before {
    content: '';
    width: 4px;
    background: #007bff;
    height: 46px;
    margin-top: 5px;
    position: absolute;
    box-shadow: 1px 0px 6px #0000002e;
}
li .active:before {
    margin: -10px -15px!important;
}
.mainMenu {
    width: 94%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.mainMenu ul li {
    padding: 17px 13px 9px;
    display: inline-block;
    height: 58px;
    margin: -7px 5px;
    top: -3px;
    position: relative;
    transition: all .3s;
}
.mainMenu ul li:hover {
    border-bottom:3px solid #007bff
}
.mainMenu .active {
    border-bottom: 3px solid #007bff;
    padding-bottom: 13px;
}
.profilewidget div {
    display: inline-block;
}
.profilewidget {
    display: inline-block;
    width: 6%;
    text-align: right;
}   
.profilewidget div i {
    cursor: pointer;
    font-size: 24px;
    color: #b8c9d3;
    position: relative;
}
.mainMenuText {
    padding-left: 10px;
}
.btnDashboard{margin-left: 14px}
.colorBlue,.colorGreen,.colorGrey{
    width: 8px;
    height: 26px;
    display: inline-table;
    position: relative;
    top: 32px;
    margin-top: -32px;
    border-radius: 4px;
}
.colorBlue{
    background-color: #e91e63
}
.colorGreen{
    background-color: #4caf50
}
.colorGrey{
    background-color: #607d8b
}

.space{
    margin: 15px 0 20px
}
.customAddTask {
    top: -22.5px;
    position: relative;
}
.modal-header .close {
    font-size: 35px;
    padding: 9px 15px;
}
/* TODO
.process{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
}*/
.story{
    color:#4c4d61!important;
}
.story i,.task-name i {
    float: right;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}
.mcell {
    background-color: #f5f8fc;
    margin: 6px;
    border-radius: 0 0 4px 4px;
    display: inline-table;
    box-shadow: 0px 3px 5px #bababa7d;
}

.mcolor1:before,.mcolor2:before,.mcolor3:before,.mcolor4:before {
    height: 4px;
    width: 100%;
    position: absolute;
    top: -4px;
    left: 0;
    content: '';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.mcolor1:before {
    background: linear-gradient(to right, #c774e9 0%, #dc6a84 100%);
}
.mcolor2:before {
    background: linear-gradient(to right, #fe8f78 0%, #feb142 100%);
}
.mcolor3:before {
    background: linear-gradient(to right, #949efb 0%, #64aef7 100%);
}
.mcolor4:before {
    background: linear-gradient(to right, #76d2a6 0%, #79d3eb 100%);
}
.mcell-title{
    background-color: #f6f8fc;
    font-size: 15px;
    margin: 0 -14px;
    padding: 10px 10px 12px;
    font-weight: bold;
}
.mcell-task {
    background-color: #fff;
    padding: 4px 8px;
    margin: 10px -6px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #8080800d;
    list-style-type: none;
}
.otherMenu div{
    margin: 13px;
    display: grid;
}
.ui-draggable{
    width: 308px;
}
.ui-droppable-hover{
    background: #ebeff3;
    min-height: 186px;
    width: 300px;
}
.ui-state-default{
    cursor: -webkit-grab!important;
}
.task-name,.task-details,.task-contributors{
    display: block;
    font-weight: normal;
}
.task-name{
    font-size: 19px;
}
.task-details{
    font-size: 13px;
}
.task-contributors {
    text-align: right;
    display: inline-block;
    width: 50%;
}
.task-due{
    display: inline-block;
    width: 48%;
    font-weight: normal;
    font-size: 16px;
}
.task-contributors img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.task-contributors span{
    text-align: left
}
.aboutUs {
    background: #fff;
    padding: 0px 14px 0px 14px;
    margin-top: 50px;
    border-radius: 4px;
}
.padding20 {
    padding: 20px;
}
@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}@media (min-width: 1500px){
.container {
    max-width: 1350px;
}}
@media (max-width: 800px){
    .con {
        width: 100%;
        left: 0;
    }
    .side {
        position: fixed;
        width: 100%;
        z-index: 999;
        display: none;
    }
    .mainMenuText {
        display: none
    }
    .ui-draggable {
        width: calc(100% + 12px);
    }
}


/*Loader*/
.loader {
    position: relative;
    margin: 12px auto 20px;
    width: 40px;
  }
  
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .loader svg {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .loader svg circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke-width: 4;
    stroke-miterlimit:10
  }
  @-webkit-keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@-webkit-keyframes 
dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@keyframes 
dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@-webkit-keyframes 
color {  100%, 0% {
 stroke: #d62d20;
}
 40% {
 stroke: #0057e7;
}
 66% {
 stroke: #008744;
}
 80%, 90% {
 stroke: #ffa700;
}
}

@keyframes 
color {  100%, 0% {
 stroke: #d62d20;
}
 40% {
 stroke: #0057e7;
}
 66% {
 stroke: #008744;
}
 80%, 90% {
 stroke: #ffa700;
}
}
/*Loader*/